.muirtl-1glvl0p-MuiButtonBase-root-MuiIconButton-root-MuiAutocomplete-clearIndicator {
    height: 30px;
    width: 30px;
}

.muirtl-qzbt6i-MuiButtonBase-root-MuiIconButton-root-MuiAutocomplete-popupIndicator {
    height: 30px;
    width: 30px;
}

.muirtl-113ntv0-MuiButtonBase-root-MuiIconButton-root-MuiAutocomplete-popupIndicator {
    height: 30px;
    width: 30px;
}