@font-face {
  font-family: "IranYekan";
  src: url(assets/fonts/iranyekanwebregular\(fanum\).woff2);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  direction: rtl;
}

.Toastify__close-button{
  width: 10%;
}

.Toastify__toast-body div{
  font-family: "IranYekan" !important;; 
}

