.muirtl-1ae9t7h-MuiButtonBase-root-MuiIconButton-root-MuiPickersArrowSwitcher-button {
    width: 30px;
    margin-left: 15px;
}

.muirtl-jro82b-MuiButtonBase-root-MuiIconButton-root-MuiPickersArrowSwitcher-button {
    width: 30px;
    margin-left: 25px;
}