.container {
    overflow-y: scroll;
    height: calc(100vh - 320px);
    width: 100%;
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    border-radius: 5px;
    border-width: 3px 0 3px 3px;
    border-style: solid;
    border-color: #3884a5;
    padding: 10px;
}
.container::-webkit-scrollbar {
    width: 8px;
}

.container::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

.container::-webkit-scrollbar-thumb {
    background: rgba(131, 179, 194, 0.5);
    border-radius: 10px;
}

.container::-webkit-scrollbar-thumb:hover {
    background: rgba(131, 179, 194, 0.8);
}

.container::-webkit-scrollbar-thumb:active {
    background: rgba(131, 179, 194, 1);
}

.hotel-image {
    max-width: 370px;
    height: 300px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    border: 4px solid #3884a5;
}

.hotel-image:hover {
    cursor: pointer;
}
